:root {
    --bright-teal: rgb(59, 216, 195);
    --contact-bg-color: #c8eeea;    
    --plain-white: #fff;
    --greyish: #eeeeee;
  }
  
  body {
    /*margin: 0 auto;*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--greyish);
  }
  
  /* HEADER SECTION */
    .headerBar{
      background-color: var(--bright-teal);
      margin-bottom: 20px;
      border-top: 7px solid var(--plain-white);
      border-bottom: 7px solid var(--plain-white);
    }
    .header{
      padding: 13px 20px 21px 15px;
      font-size: 21px;
    }
    .headerTitle {
      color:var(--plain-white);
      padding-left: 10px;
    }
    .buttons{
      background-color:var(--bright-teal);
      border: 1.5px solid var(--plain-white);
      color: rgb(255, 255, 255);
      font-size:20px;
      border-radius: 4px;
      padding: 2px 10px;
      float: right;
    }
  
  /* List box area */
  .targetArea {
    width: 75%;
    margin: auto;
    padding: 20px 20px 40px 20px;
    background-color: var(--plain-white);
    border-radius: 15px;
  }
  
  .contactList {
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .headings {
    font-weight: bold;
    font-size: 20px;
    border-top: 1.5px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--bright-teal);
  }
  
  .num {
    float:left;
    width: 50px;
    margin: auto;
    padding-left: 10px;
  }
  
  .Name {
    float: left;
    width: 150px;
  }
  
  .Email {
    float: left;
    width: 250px;
  }
  
  .rowDiv {
    display: inline-block;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: var(--contact-bg-color);
  }
  
  .numSpan {
    float:left;
    width: 50px;
    margin: auto;
    padding-top: 3px;
    padding-left: 10px;
    font-weight: bold;
  }
  
  .nameSpan {
    float: left;
    width: 150px;
    padding-top: 3px;
  }
  
  .emailSpan {
    float: left;
    width: 250px;
    padding-top: 3px;
  }
  
  .phoneSpan{
    float: left;
    width: 140px;
    padding-top: 3px;
  }
  
  .indexButtonSpan {
    float: left;
    height: 100%;
    display: inline-block;
    padding-left: 1px;
  }
  
  .indexDetailsBtn {
    margin-right: 4px;
    border: 1.5px solid rgb(0, 152, 253);
    color: rgb(0, 152, 253);
    background-color: var(--plain-white);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
  }
  
  .indexEditBtn, .detailEditBtn {
    margin-right: 4px;
    border: 1.5px solid rgb(247, 187, 60);
    color: rgb(247, 187, 60);
    background-color: var(--plain-white);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    float: right;
  }
  
  .indexDeleteBtn, .deleteBtn {
    margin-right: 2px;
    border: 1.5px solid rgba(255, 33, 33, 0.692);
    color: rgba(255, 33, 33, 0.692);
    background-color: var(--plain-white);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    float: right;
  }
  
  .newContact, #contactHeadingDiv {
    background-color: var(--contact-bg-color);
    padding: 15px 25px;
    margin-top: 8px;
    border: 1.5px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .formLabels {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  #nameForm, #emailForm, #phoneForm, .cNameInputField, .cEmailInputField, .cPhoneInputField {
    margin-left: 25px;
    width: 760px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid lightgray
  }
  
  .forms, .editContent {
    border: 1.5px solid lightgray;
    border-top-width: 0px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  #submitButton, .editSubmitBtn {
    border: 1.5px solid var(--bright-teal);
    color: var(--bright-teal);
    background-color: var(--plain-white);
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 16px;
    margin-left: 747px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .values {
    color:white;
    background-color: var(--bright-teal);
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 2px 5px;
    font-size: 16px;
  }
  
  .labels {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  
  .detailsContent {
    border: 1.5px solid lightgray;
    border-top-width: 0px;
    padding: 20px 0px  
  }
  
  .detailsBtns {
    background-color: rgba(211, 211, 211, 0.288);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 690px;
    border: 1.5px solid lightgray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
  }
  
  p {
    text-align: center;
  }